/*
* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

// Local Custom Config
#include "./myrioku/custom-config.h"
// Local Map File
#include "./myrioku/corne-eyelash.h"
// Base Miryoku Config
#include "./myrioku/base/miryoku.h"

/ {
chosen {zmk,matrix_transform = &default_transform;};
};
